.signup {
    font-family: Gilroy;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 58px;
    text-align: middle;
    color: #2c2c2c;
  }
  .paragraph {
    font-family: Avenir Next;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
  
    color: #818181;
  }
  .forborder {
    margin-left: 5%;
    margin-right: 5%;
  }
  .leftbackground {
    position: absolute;
    width: 683px;
    height: 567px;
    left: 203px;
    top: 208px;
    background: url(photo/signup.jpg);
  }
  .rightdivision {
    position: absolute;
    width: 515px;
    height: 519px;
    left: 708px;
    top: 237px;
  
    background: #ffffff;
    box-shadow: 3px 4px 15px rgba(204, 204, 204, 0.25);
  }