.intro-section {
  display: flex;
  flex-direction: row;
  height: 70vh;

  &-image {
    display: block;
    margin: auto;
    width: 33%;
    margin-left: 5%;
  }

  &-info {
    width: 65%;

    &-text {
      margin-top: 15%;
      h1 {
        font-family: "montserrat";
        font-size: 55px;
      }

      h3 {
          font-family: "montserrat";
        font-size: 30px;
      }
    }

    &-btn {
      margin-top: 8%;
    }
  }
}

.bns-vector {
    margin-top: 5%;
    width: 90vw;
    height: 60vh;
}

.footer {
    height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
    background-color: #FCF0DA;
    font-family: "montserrat";
    font-weight: bolder;
    font-size: 15px;
}