.wrapper-class {
    padding: 1rem;
    border: 1px solid #ccc;
    color: black;
  }

  .wrapper-class-new {
      width: 60vw;
  }
  
  .editor-class {
    background-color: #f2f2f2;
    padding: 1rem;
    color: black;
    // height: 70vh;
    border: 1px solid #ccc;
  }

  .editor-class-new {
      width: 60vw;
  }
  
  .toolbar-class {
    border: 1px solid #ccc;
    height: 10vh;
    color: black;
  }

  .toolbar-class-new {
      width: 60vw;
  }
  